.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  height: 90dvh;
  background-color: #232323;

  .loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 15rem;
    align-items: center;
    position: relative;
    z-index: 1;

    .spinnerBrown {
      width: 6rem;
      height: 6rem;
      border: 0.5rem solid;
      border-color: #635445 transparent #5c4f43 transparent;
      border-radius: 50%;
      animation: spinnerBrownAnimation 1.5s linear infinite;
    }

    .spinnerOlive {
      width: 10rem;
      height: 10rem;
      position: fixed;
      border: 0.5rem solid;
      border-color: #4f4d41 transparent #515042 transparent;
      border-radius: 50%;
      animation: spinnerOliveAnimation 1.5s linear infinite;
    }

    @keyframes spinnerBrownAnimation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes spinnerOliveAnimation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }

  p {
    font-size: 11pt;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
    color: #ebebeb;
  }
}
