@use '../scss/loader';
@use '../scss/container';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Alan Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.2s ease;
}

body {
  background-color: #232323;
  scroll-behavior: smooth;
}
