@use '../scss/loader';
@use '../scss/header';
@use '../scss/mainContent';
@use './headerLight';
@use './mainContentLight';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Alan Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.2s ease;
}

body {
  background-color: #232323;
  scroll-behavior: smooth;
  animation: body 0.5s linear;
  animation-iteration-count: 1;
  transition: all 0.2s ease-in-out;

  @keyframes body {
    0% {
      filter: opacity(0.25) grayscale(10%) blur(0.05rem) brightness(80%);
      transform: scale(98%);
      transition: all 0.2s ease-in-out;
    }
    50% {
      filter: opacity(0.5) grayscale(5%) blur(0.05rem) brightness(90%);
      transform: scale(99%);
      transition: all 0.2s ease-in-out;
    }
    100% {
      filter: opacity(1) grayscale(0%) brightness(100%);
      transform: scale(100%);
      transition: all 0.2s ease-in-out;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 100%;
  height: 100dvh;
  padding: 1rem;
  position: relative;

  @media (min-width: 300px) and (max-width: 700px) {
    height: auto;
    overflow-x: hidden;
  }

  @media (min-width: 976px) and (max-width: 1023px) {
    height: auto;
  }

  @media (min-width: 1023px) and (max-width: 1200px) {
    row-gap: 0.6rem;
    height: auto;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    row-gap: 0.8rem;
  }

  @media (min-width: 1023px) and (max-width: 1200px) {
    row-gap: 0.6rem;
    height: auto;
  }

  // Height adjustments

  @media (orientation: landscape) and (min-height: 749px) {
    height: 100dvh;
  }

  @media (orientation: landscape) and (max-height: 749px) {
    height: auto;
  }

  @media (orientation: portrait) and (min-height: 1470px) {
    height: 100dvh;
  }

  @media (orientation: portrait) and (max-height: 1470px) {
    height: auto;
  }
}
